:root{
    --first-color: #18045f;
    --first-color-deg: #18045fcc;
    --strong-color: #fb2e5a 
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}
body{
    font-family: 'Work Sans', sans-serif;
    font-size: 62.5%;
    display: grid;
    grid-template-columns: 10% 90%;
    overflow-x: hidden;
} 
nav{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: flex;
    width: 10vw;
    height: 100vh;
    background-color: #180455ed;
    
}
.menu-list-container{
    display: flex;
    flex-direction: column;
    width: 40%;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 1.2rem;
    gap: 50px;
    padding: 20px;
    
}
.menu-list-container li a{
    color: var(--strong-color);
    font-weight: bold;
    cursor: pointer;
    
}
.menu-list-container li a:hover{
    border-bottom: solid 2px #000;
}



/* ------------------------------* Profile Section *--------------------------------- */

.profile-background{
    position: relative;
    width: 100vw;
    min-height: 100vh;
    object-fit: cover;
    object-position: center center;
    z-index: -1;
}
.profile-tittle{
    font-size: 5rem;
    width: 400px;
}
.parallax-content-container{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    right: 0;
    left: 150px; 
    bottom: 0;
    padding: 50px;
    gap: 50px;
   
}
.user-card-container{
    width: 40%;
    height: 200px;
    margin-top: 300px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 20px;
    position: relative;
    align-items: center;
    box-shadow: 0 35px 80px #000;
    transition: .5s;
    /* overflow: hidden; */

    background: rgba(255, 255, 255, 0.03);
    border-radius: 16px;
    backdrop-filter: blur(3.4px);
    -webkit-backdrop-filter: blur(2.4px);
    border: 1px solid rgba(255, 255, 255, 0.3);
   
    
}
.user-card-container:hover{
    height: 300px;
    
}
.user-img{
    width: 150px;
    height: 150px;
    object-fit: cover;
    object-position: center center;
    border-radius: 50%;
    position: absolute;
    top: -75px;
    box-shadow: 0 15px 50px #000;
    overflow: hidden;
    transition: .5s;
}
.user-card-container:hover .user-img{
    transform: scale(1.3);
    top: -100px;
}

.user-info{
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    overflow: hidden;
    transition: .5s;
}
.user-card-container:hover .user-info{
    margin-top: 75px;
    gap: 15px;
}

.user-name{
    font-size: 1.4rem;
    font-weight: bold;
}
.user-profession{
    font-size: 1rem;
    color: #555;
    font-weight: 500;
}
.user-description{
    font-size: .8rem;
    line-height: 1rem;
}


/* ------------------------------* Profile Section *--------------------------------- */

.projects-section{
    background: linear-gradient(45deg, var(--strong-color), var(--first-color) );
    display: flex;
    justify-content: center;
    
}
.projects-container{

}
.projects-section-tittle{
    font-size: 4rem;
    margin: 50px 10%; 
    color: var(--strong-color);
}

.projects-cards-container{
    margin: 70px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 80vw;
    gap: 30px;
    
}
.projects-card{
    display: flex;
    flex-direction: column;
    width: 300px;
    background-color: #fff;
    box-shadow: inset 1px -2px 8px  #555;
    border-radius: 10px;
    text-align: center;
    padding: 10px;
    cursor: pointer;
    height: 250px;
    overflow: hidden;
    gap: 15px;
    transition: .3s;
    
}
.projects-card:hover{
    transform: scale(1.3);
    height: 300px;
    margin: 20px;
}
.projects-card h3{
    font-size: 1.2rem;
}

.projects-card-img{
    width: 100%;
    object-fit: contain;
    object-position: center;
    border-radius: 10px;
}
.project-card-btn-container{
    display: flex;
    opacity: 0;
    justify-content: center;
    gap: 15px;
    transition: .3s;
}
.projects-card:hover .project-card-btn-container{
    opacity: 1;
}

.project-card-btn{
    width: 50px;
    background-color: var(--strong-color);
    border: none;
    border-radius: 10px;
    height: 20px;
    box-shadow: inset 1px 2px 4px 2px #81083b;
    cursor: pointer;
}
.project-card-btn:hover{
    background-color: #b30d52;
}
