:root{
    --first-color: #18045f;
    --first-color-deg: #18045fcc;
    --strong-color: #fb2e5a 
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    color:#fff
}



/* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: auto;
    scrollbar-color: #8f54a0 #ffffff;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 16px;
  }

  *::-webkit-scrollbar-track {
    background: rgb(61,30,124);
    background: linear-gradient(25deg, rgba(61,30,124,1) 6%, rgba(105,12,121,1) 45%, rgba(200,8,99,1) 82%);
  }

  *::-webkit-scrollbar-thumb {
    background: rgb(186,71,152);
background: radial-gradient(circle, rgba(186,71,152,1) 0%, rgba(154,40,136,1) 64%, rgba(152,38,137,1) 70%, rgba(119,4,150,1) 99%);
    border-radius: 10px;
    border: 2px solid rgba(44, 43, 43, 0.164);
  }



input{
    outline: none;
}
a{
    color: #000;
    text-decoration: none;
    font-size: 1rem;
}
body{
    font-family: 'Work Sans', sans-serif;
    font-size: 62.5%;
    display: grid;
    grid-template-columns: 10% 90%;
    overflow-x: hidden;
} 
nav{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: flex;
    width: 10vw;
    height: 100vh;
    /* background-color: #180455ed; */
    z-index: 999;
    background: rgb(61,30,124);
    background: linear-gradient(25deg, rgba(61,30,124,1) 6%, rgba(105,12,121,1) 45%, rgba(200,8,99,1) 82%);
    transition: .3s;
}
.arrow-mobile-menu{
    display: none;
    font-size: 2rem;
    position: fixed;
    left: 3%;
    top: 20px;
    transition: .2s;
}
nav:hover .arrow-mobile-menu{
    font-size: 0;
}
.fa-circle-right{
    color: #18045f;
    font-weight: bolder;
}

.menu-list-container{
    display: flex;
    flex-direction: column;
    width: 40%;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 1.2rem;
    gap: 50px;
    padding: 20px;
    
}
.menu-list-container li a{
    color: var(--strong-color);
    font-weight: bold;
    cursor: pointer;
    
}
.menu-list-container li a:hover{
    border-bottom: solid 2px #000;
}

.section-title{
    font-size: 3rem;
    margin: 50px 10%; 
    color: var(--strong-color);
}

/* ------------------------------* Profile Section *--------------------------------- */

.profile-background{
    position: relative;
    width: 100vw;
    min-height: 100vh;
    object-fit: cover;
    object-position: center center;
    z-index: -1;
}
.profile-tittle{
    font-size: 5rem;
    width: 400px;
}
.parallax-content-container{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    right: 0;
    left: 150px; 
    bottom: 0;
    padding: 50px;
    gap: 50px;
   
}
.user-card-container{
    width: 40%;
    height: 200px;
    margin-top: 300px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 20px;
    position: relative;
    align-items: center;
    box-shadow: 0 35px 80px #000;
    transition: .5s;
    /* overflow: hidden; */

    background: rgba(255, 255, 255, 0.03);
    border-radius: 16px;
    backdrop-filter: blur(3.4px);
    -webkit-backdrop-filter: blur(2.4px);
    border: 1px solid rgba(255, 255, 255, 0.3);
   
    
}
.user-card-container:hover{
    height: 300px;
    
}
.user-img{
    width: 150px;
    height: 150px;
    object-fit: cover;
    object-position: center center;
    border-radius: 50%;
    position: absolute;
    top: -75px;
    box-shadow: 0 15px 50px #000;
    overflow: hidden;
    transition: .5s;
}
.user-card-container:hover .user-img{
    transform: scale(1.3);
    top: -100px;
}

.user-info{
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    overflow: hidden;
    transition: .5s;
}
.user-card-container:hover .user-info{
    margin-top: 75px;
    gap: 15px;
}

.user-name{
    font-size: 1.4rem;
    font-weight: bold;
}
.user-profession{
    font-size: 1rem;
    color: #555;
    font-weight: 500;
}
.user-description{
    font-size: .8rem;
    line-height: 1rem;
}


/* ------------------------------* Projects Section *--------------------------------- */

.projects-section{
    background: linear-gradient(45deg, var(--strong-color), var(--first-color) );
    display: flex;
    justify-content: center;
    box-shadow: inset 10px -10px 60px 30px #1f00278f;
    padding-bottom: 80px;
    /* z-index: 15;
    position: relative; */
    
}
.projects-container{

}
.projects-cards-container{
    margin: 70px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 80vw;
    gap: 30px;
    
}
.projects-card{
    display: flex;
    flex-direction: column;
    width: 300px;
    background-color: #c09bb273;
    box-shadow:  5px 2px 30px 5px #1a122093;
    border-radius: 10px;
    text-align: center;
    /* padding: 10px; */
    height: 250px;
    overflow: hidden;
    gap: 15px;
    transition: .5s;
    position: relative;
}
.projects-card-hover_background{
    background-color: #3a212c9c;
    width: 150%;
    height: 150%;
    position: absolute;
    transition: .5s;
    top: -60px;
    left: -60px;
    border-radius: 100%;
}
.projects-card:hover .projects-card-hover_background{
    /* display: none; */
    transform: rotate(90deg);
    width: 0%;
    height: 0%;
}

.projects-card:hover{
    transform: translateY(-15px);
    /* transform: scale(1.1); */
}
.projects-card h3{
    font-size: 1.2rem;
}

.projects-card-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 10px;
    cursor: pointer;

}
.project-card-btn-container{
    display: none;
    opacity: 0;
    justify-content: center;
    gap: 15px;
    transition: .3s;
}
.projects-card:hover .project-card-btn-container{
    opacity: 1;
}

.project-card-btn{
    width: 50px;
    background-color: var(--strong-color);
    border: none;
    border-radius: 10px;
    height: 20px;
    box-shadow: inset 1px 2px 4px 2px #81083b;
    cursor: pointer;
}
.project-card-btn:hover{
    background-color: #b30d52;
}


/* ------------------------------* Stacks Section *--------------------------------- */
.stacks-section{
    /* display: none; */
    background: rgb(12,11,18);
    background: linear-gradient(52deg, rgba(12,11,18,1) 0%, rgba(93,80,122,1) 100%);
    padding: 100px 0;
} 
.stacks-background{
    box-shadow: 20px 0px 70px 40px #271a1ad5;
    position: absolute;
    width: 100%;

    object-fit: cover;
    object-position: center center;
    z-index: 1;
    left: 150px;
}
.stacks-section-title{
    font-size: 3rem;
    padding: 0 3%;
    z-index: 500;
}
.stacks-section-container{
    position: relative;
    z-index: 5;
    width: 100%;
    display: flex;
    padding: 0 5%;
    /* flex-direction: column; */
    justify-content: space-around;
}
.stacks-technologies{
    padding: 0 50px;
}

.stacks-technologies span{
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 2rem;
    font-weight: bold ;
    color: #fff;
}
.fa-brands{
    padding: 20px;
    font-size: 4.5rem;
    color: #fff;
}
.fa-html5{color: #f77f00;}
.fa-css3-alt{color: #219ebc;}
.fa-js{color: #ffb703;}
.fa-react{ color: #023047;}
.fa-git-alt{color: #e23424;}
.fa-npm{color: #780116;}
.skill-card-container{
    padding: 20px;
    width: 500px;
    height: 600px;
    border-radius: 10px;
    background: rgb(17,30,36);
    background: linear-gradient(18deg, rgba(17,30,36,1) 0%, rgba(209,215,221,1) 88%);
    font-size: 1.2rem;
    box-shadow: 0 0 40px 5px #000 ;
}
.skill-list-container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    height: 100%;
}
.skill-list-container li{
    border-bottom: solid 2px #780116;
    padding: 10px 0;
    color: var(--first-color);
}

.particles-container{
    z-index: 10;
    width: 100%;
    height: 100%;
    position: absolute;
}



/* ------------------------------* Contact Section *--------------------------------- */


.contact-section{
    display: flex;
    justify-content: center;
    background: rgb(2,48,71);
    background: linear-gradient(49deg, rgba(2,48,71,1) 0%, rgba(90,105,119,1) 88%);
    padding: 100px 0;
}
.contact-container{
    display: flex;
    margin: 100px 0;
    max-width: 800px;
    justify-content: center;
    box-shadow: 0 0 50px 0 rgb(24, 23, 23);
    border-radius: 8px;
    overflow: hidden;
}
.contacts-titles{
    font-size: 1.4rem;
}
.form-container{
    padding: 20px;
    width: 60%;
    background: rgb(17,30,36);
    background: linear-gradient(18deg, rgba(17,30,36,1) 0%, rgba(209,215,221,1) 88%);
    font-size: 1.2rem;
}
.form-container form{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.form-container form .block{
    grid-column: 1 / 3;
}
.form-container p{
    padding: 1rem;
}
.form-container button,
.form-container input,
.form-container textarea{
    width: 100%;
    border: none;
    padding: 5px;
    background: none;
    border-bottom:solid 2px #780116 ;
    outline: none;
}
.form-container .submitBtn{
    background-color: #780116;
    padding: .5rem;
    cursor: pointer;
    font-weight: bold;
    font-size: 1rem;
    
}
.form-container .submitBtn:hover{
    background-color: #92011c;
}





.social_media-container{
    background: rgb(40,43,45);
    background: linear-gradient(18deg, rgba(40,43,45,1) 0%, rgba(15,15,15,1) 88%);
    width: 40%;
    color: #fff;
    padding: 20px;
}
.social_media-container a{
    color: #fff;
}
.social_media-container a:hover{
    color: #555;
}

.social_media-container .fa-brands{
    font-size: 1.2rem;
}

@media screen and (max-width: 900px) {
    .arrow-mobile-menu{
        display: flex;  
    }
    .menu-list-container{
        display: none;
    }
    nav:hover .menu-list-container{
        display: flex;
    }
    nav:hover{
        width: 15%;
    }

    .parallax-content-container{
        flex-direction: column;
    }
    .user-card-container{
        width: 400px;
        margin-top: 100px;
    }



    .stacks-section-container{
        margin-top: 50px;
        flex-direction: column;
        align-items: center;
        gap: 50px;
    }
    .particles-container{
        display: none;
    }


    .contact-container{
        flex-direction: column;
        width: 90%;
    }
    .form-container{
        width: 100%;
    }
    .social_media-container{
        width: 100%;
    }

}
@media screen and (max-width: 600px) {

    nav:hover{
        width: 25%;
    }
    .parallax-content-container{
        width: 90%;
        left: 10%;
        padding: 0;
    }
    .profile-tittle{
        width: 90%;
    }
    .user-card-container{
        width: 90%;
    }
    .stacks-technologies span p{
        display: none;
    }
    .skill-card-container{
        width: 90%;
    }
    
}
@media screen and (max-width: 450px) {
    .profile-tittle{
        font-size: 4rem;
    }
}